.grid-stack > .grid-stack-item > .grid-stack-item-content {
		&.no-permission {
		.kendo-grid.k-grid {
			background-color: #ddd;
			>.k-grid-pager {
				display: none;
			}

			.k-grid-content {
				color: #333;

				p {
					font-size: 17px;
					color: #555;
					width: 100%;
					text-align: center;
					line-height: 22px;
					top: 5px;
					position: absolute;
					margin: 0;
				}
			}
		}
	}
	.item-content {
		&.grid {
			height: calc(~"100% - 30px") !important;
		}

		.kendo-grid {
			border: 1px solid #eee;
			height: calc(~"100% - 2px");

			table {
				width: 100%;
			}

			.k-pager-info {
				display: none;
			}

			.count-info {
				float: left;
			}
		}
	}
}

.data-point.ui-draggable-dragging {
	.grid-stack-item-content {
		.item-content {
			&.grid {
				height: calc(~"100% - 13px") !important;
			}

			.kendo-grid {
				border: 1px solid #eee;
				height: calc(~"100% - 2px");

				table {
					width: 100%;
				}

				.k-pager-info {
					display: none;
				}

				.count-info {
					float: left;
				}
			}
		}
	}

	.in.grid {
		background-color: #f2f2f2;
	}
}
