.vs/
/TripfinderWeb/TripfinderWeb/.vs/
/TripfinderWeb/TripfinderWeb/TripfinderWeb.csproj.user
/TripfinderWeb/*.suo
/TripfinderWeb/TripfinderWeb/*.suo
/TripfinderWeb/build
/TripfinderWeb/TripfinderWeb/obj
/TripfinderWeb/TripfinderWeb/bin
/TripfinderWeb/node_modules/
/TripfinderWeb/TripfinderWeb/local_settings.js
/TripfinderWeb/TripfinderWeb/Global/Css/*.css
/TripfinderWeb/TripfinderWeb/Global/Css/*.map
