<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
	<appSettings>
		<add key="webpages:Version" value="2.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="PreserveLoginUrl" value="true" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
	</appSettings>

	<system.web>

		<httpRuntime targetFramework="4.5.1" />

		<compilation debug="true" targetFramework="4.5.1" />

		<pages>
			<namespaces>
			<!--
				<add namespace="System.Web.Helpers" />
				<add namespace="System.Web.Mvc" />
				<add namespace="System.Web.Mvc.Ajax" />
				<add namespace="System.Web.Mvc.Html" />
				<add namespace="System.Web.Routing" />
				<add namespace="System.Web.WebPages" />
			-->
			</namespaces>
		</pages>
	</system.web>

	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<httpProtocol>
			<customHeaders>
				<clear />
				<add name="Access-Control-Allow-Origin" value="*" />
				<add name="Content-Security-Policy" value=" default-src 'self' www.googletagmanager.com blob: https://dojotoolkit.org *.transfinder.com ws://*.transfinder.com *.google-analytics.com 'unsafe-inline' 'unsafe-eval' *.arcgisonline.com *.mytransfinder.com *.arcgis.com *.gstatic.com 'unsafe-inline' *.fonts.gstatic.com:* *.googleapis.com *.ggpht.com *.nationalmap.gov *.openstreetmap.org data:" />
			</customHeaders>
		</httpProtocol>
		<staticContent>
			<clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="0.01:00:00" />
			<remove fileExtension=".json" />
			<mimeMap fileExtension=".json" mimeType="application/json" />
			<remove fileExtension=".woff" />
			<mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
			<remove fileExtension=".woff2" />
			<mimeMap fileExtension=".woff2" mimeType="application/x-font-woff" />
		</staticContent>
	</system.webServer>
</configuration>
