<div class="row" data-bind="uiInit:init">
	<form role="form" class="col-sm-24">
		<div class="form-group">
			<div class="input-group">
				<div class="form-group">
					<div class="col-sm-24" style="height:61px; margin-bottom:5px;">
						<label for="currentpassword">
							<b>Current Password</b>
						</label>
						<input type="password" id="currentpassword" name="currentpassword" autocomplete="off" class="form-control" placeholder="Current Password"
						 data-bind="value:obCurrentPassword, click:cleanErrorMessage" />
						<small class="help-block" data-bv-validator="currentPasswordNotEmpty" data-bv-for="currentpassword" data-bv-result="INVALID"
						 data-bind="visible:obCurrentPasswordWarning" style="float:left">
							<span data-bind="text:obCurrentPasswordWarning">
							</span>
						</small>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-24" style="height:61px; margin-bottom:5px;">
						<label for="newpassword">
							<b>New Password</b>
						</label>
						<input type="password" id="newpassword" name="newpassword" autocomplete="off" required class="form-control" placeholder="New Password"
						 data-bind="value:obNewPassword, click:cleanErrorMessage" maxlength="50" />
						<small class="help-block" data-bv-validator="newPasswordNotEmpty" data-bv-for="newpassword" data-bv-result="INVALID" data-bind="visible:obNewPasswordWarning"
						 style="float:left">
							<span data-bind="text:obNewPasswordWarning">
							</span>
						</small>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-24" style="height:61px; margin-bottom:5px;">
						<label for="confirmnewpassword">
							<b>Confirm New Password</b>
						</label>
						<input type="password" id="confirmnewpassword" name="confirmnewpassword" autocomplete="off" required class="form-control"
						 placeholder="Confirm New Password" data-bind="value:obConfirmNewPassword, click:cleanErrorMessage" maxlength="50">
						<small class="help-block" data-bv-validator="confirmNewPasswordNotEmpty" data-bv-for="confirmnewpassword" data-bv-result="INVALID"
						 data-bind="visible:obConfirmNewPasswordWarning" style="float:left">
							<span data-bind="text:obConfirmNewPasswordWarning">
							</span>
						</small>
					</div>
				</div>
			</div>
	</form>
	</div>
	<!-- ko template :{ name : "workspace/pagelevel/base",data:pageLevelViewModel }-->
	<!-- /ko -->